body{
    font-family: sans-serif;
    line-height: 1.8;
    background-color: black;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 800;
}
img{
    width: 100%;
}
section{
    margin-top: 200px;
    padding-left: 50px;
    color: white;
    font-size: 30px;
}
.intro .hr-line{
    width: 60px;
    height: 4px;
    background-color: white;
    display: inline-block;
}
img{
    border-radius: 35px;
}
div p{
    margin-left: 50px;
}